/* 
	RPECK 28/07/2023 - Redux Colour Palette
	Removes the selectable text for each element of the palette
*/
.redux-main .redux-container-color_palette .colors-wrapper .color-palette-color { user-select: none; }

/*
    RPECK 13/08/2023 - Redux Section Hover Colour
    Adds a custom background colour to the redux section on hover and select
*/
.redux-container .redux-sidebar .redux-group-menu li.active a,
.redux-container .redux-sidebar .redux-group-menu li a:hover,
.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a {
    background-color: #000 !important;
}
.redux-container .redux-sidebar .redux-group-menu li .subsection .redux-group-tab-link-li .redux-group-tab-link-a:hover {
    color: white !important;
}

/*
	RPECK 13/08/2023 - Sidebar sticky
	Adds extra layer of finesse to the system (can't have overflow)
*/
.redux-container {
	overflow: unset !important;
	background-color: unset !important;
	background-image: unset !important;
	mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	clip-path: inset(0 round 10px 10px 0 0) !important;
	-webkit-clip-path: inset(0 round 10px 10px 0 0) !important;
}
.redux-container .redux-sidebar {
	position: sticky;
	top: calc(0px + var(--wp-admin--admin-bar--height, 0));
}

/*
	RPECK 13/08/2023 - Repeater cursor
	Overrides the default cursor, which is the text icon 
*/
.redux-container-repeater .redux-repeater-accordion-repeater h3.ui-accordion-header {
	cursor: pointer !important;
}

/*
  RPECK 01/08/2023 - Change the way in which redux repeater fields are showing
  Added to provide some crude way to manage the repeater inputs
*/
.redux-container-repeater h4 ~ h4 {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #333;
}

/* 
	RPECK 04/08/2023 - Remove divider image
	This is needed to ensure we can just the horizontal line element to split up the admin panel
*/
.redux-main { height: unset !important; }
.redux-main .divide .inner { display: none !important; }
.redux-main .divide {
	height: unset !important;
	line-height: unset !important;
}

/*
	RPECK 10/08/2023 - Redux Header
	Styling for the header part of Redux because the default is too big
*/
#redux-header {
	background-color: rgb(0, 0, 0) !important;
	border-color: red !important;
    user-select: none;
}
#redux-header > .display_header { margin: unset !important; }
#redux-header > .display_header:before {
	display: inline-block;
	content: '';
	width: 85px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	background-image: url('../images/pcfixes-logo.png');
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: middle;
}
#redux-header > .display_header > h2,
#redux-header > .display_header > span {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	vertical-align: middle;
	font-weight: 300;
	font-size: 14px;
}
#redux-header > .display_header > span {
	opacity: 0.5;
	transition: opacity 0.15s ease;
}
#redux-header > .display_header > span:is(:hover, :focus, :active) {
	opacity: 0.85;
}

/* 
    RPECK 14/08/2023 - Admin Wordpress branding removal
    This was added to give us the means to remove any of the default WP branding that may pollute the admin area
*/
body.wp_removed #wp-admin-bar-wp-logo,
body.wp_removed #wpadminbar .quicklinks li .blavatar { display: none; }

/* 
	RPECK 15/08/2023 - Redux Cancel Button
	Changed colour to ensure it looks okay
*/
.redux-main .button.remove-image,
.redux-main .removeCSS {
	background-color: red !important;
	color: white !important;
	border: 0 !important;
}